body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #03a9f4;
    color: #fff;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom:1px solid rgba(200, 198, 198, 0.82) ;
    font-size: 15px;
    display: flex;
    padding: 20px 20px;

}
.nav-text{
    margin-right: 3%;
    font-size: 20px;



}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
    transition: all 300ms ease
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration-color: white;

    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #fff;
}

.container {
    display: flex;
    min-height: 100vh;
    padding-top: 50px;
}
.left-section h2{
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0px;

}
.left-section ul li{
    list-style: none;
    padding: 10px;
    width: 100%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: 0.5s;
    cursor: pointer;
    margin-top: 0px;


}
.rooms li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    color: #fff;

}


#addRooms, #addUsers{
    position: relative;
    background:#fff;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}
.left-section{
    flex: 1;
    background-color: #f6f6f6;
    overflow-y: auto;

    border: 1px solid rgba(200, 198, 198, 0.82);
    width: 300px;
    overflow-x: hidden;
    margin-top: 0.8%;
}
.right-section {
    flex: 1;
    background-color: lightblue;
    overflow-y: auto;
    border: 2px solid #776e42;
    border-radius: 10px;
}
.right-section{
    flex:3;
}
.footer {
    background-color: #333;
    text-align: center;
    height:5%;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
}
.footer>p{

    color: #f5e9e9;
}

#roomNumberDiv{
    width:25%;
    height:15%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-top:1px solid rgba(200, 198, 198, 0.82) ;
    border-bottom:1px solid rgba(200, 198, 198, 0.82) ;
    margin-bottom: 2%;
}
#createRoom{
    width:70%;
    height: 30px;

    margin: 2%;
    color: #fff;
    background: #03a9f4;

    font-size: 15px;
    border:  solid ;
    border-radius: 20px;
    cursor: pointer;

    transition: 0.5s;

}
#createRoom:hover{
    width:70%;
    height: 30px;
    color: #03a9f4;
    background: #fff;

    font-size: 15px;
    border:  solid ;
    border-radius: 20px;
    cursor: pointer;


    transform: scale(1.1);
    border-color: #fff;

}
#send{
    height: 100%;
    margin: 2%;
    font-size: 14px;
    width:10%
}
#chatInput{
    width: 80%;
    height: 100%;
    padding: 2px;
    margin: 2px;
    font-size: 14px;
}
#chatInputDiv{
    width:75%;
    height:3%;
    padding: 0.25%;
    position: fixed;
    bottom:15%;
    z-index: 1000;
    margin: 0 auto;
    text-align: center;
    border-top:2px solid #776e42;
}

.messageArea{
    background-color: lightblue;
    width: 150vh;
    height: 60vh;
    overflow-y: auto;
    padding-left: 2%;
}

.messageHeader{
    display: flex;
    align-items: baseline;


}
.userName{
    color: #25bcff;
    font-size: large;


}

.timeStamp{
    color: dimgrey;
    font-size: small;
    color: #0d32ad;
    padding: 0.5%;

}


body.dark-mode {
    background-color: #121212;
    color: #931818;
}

body.dark-mode nav {
    background-color: #1f1f1f;
}

body.dark-mode .left-section {
    background-color: #242424;
    color: #b48d8d;
}

body.dark-mode.left-section.messageArea{
    background-color: #242424;
    color: #937272;
}

body.dark-mode .right-section{
    color: #4b43a8;
    background-color: #242424;
}

body.dark-mode nav ul li a {
    color:#e0e0e0;
}
body.dark-mode .left-section ul li  {
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode .left-section ul li:hover, body.dark-mode .rooms li:hover {
    background: #6150b0;
}

body.dark-mode #createRoom, body.dark-mode #createRoom:hover {
    background: #333;
    color: #e0e0e0;
    border-color: #e0e0e0;
}
 body.dark-mode #createRoom:hover{
     background:#e0e0e0;
     color: #333;


 }
 body.dark-mode .timeStamp, body.dark-mode #messageArea, body.dark-mode #roomMessage,body.dark-mode p
{
    color: #e0e0e0;
}
body.dark-mode .userName{
    color: #8072c4;
}
.userName{
    color: #482dc4;
}
.timeStamp,  #messageArea,  #roomMessage, p{
    color: #080809;

}
body.dark-mode .btn ,body.dark-mode #send,body.dark-mode #messageArea{
    background: #333;
    color: #e0e0e0;
    border: solid;
    border-radius: 20px;
    border-color: #333;

}
body.dark-mode .btn:hover,body.dark-mode #send:hover{
    background:#e0e0e0;
    color: #333;

}


#joiningMessage{
    margin: 5px 0;
    max-height: 300px;
    text-align:-webkit-center;
    padding: 10px;
    color:green;
    font-weight: bold;
}






